body{
	background-image: url("img/5594016.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.main_0{
	columns: 2;
	display: flex;
}

.logo{
    display: grid;
    justify-content: center;
}

.logoIT{
	width: 350px;
	height: 350px;
}

.inside{
	margin-top: 50px;
    display: grid;
    justify-content: center;
}

.photo_inside{
	width: 520px;
	height: 290px;
	border-radius: 20px;
}

.zagol{
	margin-top: 150px;
	text-align: center;
}

.zagol h1{
	font-family: Noto Sans;
	font-weight: 600;
	font-size: 50px;
}

.up{
	width: 660px;
	height: 290px;
	border-radius: 20px;
}

.first{
	margin-top: 130px;
	justify-content: center;
	display: grid;
}


.second{
	font-family: Noto Sans;
	font-size: 30px;
	margin-top: 100px;
	text-align: center;
}

.third{
	font-family: Noto Sans;
	font-size: 30px;
	margin-top: 110px;
	text-align: center;
}







details{
	margin-top: 50px;
  	display:block;
  	background: #fff;
  	width:700px;
  	box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  	border-radius: 8px;
  	overflow:hidden;
  	margin-bottom: 1.5rem;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
	list-style-type: none;
   	display:block;
  	padding: .3em .3em .3em 1.4em;
   	font-size:1.4em;
   	cursor: pointer;
   	position: relative;
   	border-bottom: 1px solid #e2e8f0;
}
summary:before {  
  	top: .6em;
  	left: .3em;
  	color: transparent;
  	background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
  	width: 1em;
  	height: 1em;  
  	content: "";
  	position: absolute;
  	transition: transform .5s;
}
details[open] > summary:before {
  	transform: rotateZ(90deg);
}
summary ~ * {
   	padding: 0 2em 10px 2em;
}
details[open] summary ~ *{ 
  	animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  	0%    {opacity: 0;}
  	100%  {opacity: 1;}
}
summary:focus {
  	outline:0;
  	box-shadow: inset 0 0 1px rgba(0,0,0,0.3), inset 0 0 2px rgba(0,0,0,0.3);
}